body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #a33c3c; 
}
.event {
    background: #f8f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.event h2 {
    margin: 0;
    font-size: 1.5em;
    color: #315a86;
}
.event p {
    margin: 5px 0;
}
.date-time {
    font-weight: bold;
}
.location {
    color: #eb7a7a;
}